# .env.example
CONGRESS_API_KEY="Enter Congress API key here"
OPENAI_API_KEY="Enter OpenAI key here"
DB_STRING="Enter MongoDB Atlas String Here"
EMAIL_PROMPT_TEMPLATE=Write a persuasive email to a congressional representative regarding the bill titled "{{billTitle}}". The bill summary is: "{{billSummary}}". {{repDetails}} The sender's name is {{userName}}, and they strongly {{userStance}} this bill. They have shared the following personal context which you must incorporate into the message: "{{userContext}}". The email should be professional, concise, and impactful, encouraging the representative to take positive action. Refer to the representative with their title and last name (e.g., Senator Kaine, Representative Griffith). Do not dilute the user's intention. If any hate speech is detected in the request, respond with: "Sorry, your request cannot be fulfilled as it includes hate speech." Close the message with a respectful signoff and include the user’s full address: {{userAddress}}. Also, include this text at the very end 
CENSUS_API_KEY="Enter Census API Key Here"
YOUR_EMAIL="Enter Email Here"
